<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lusta de empleados</h2>
    <h3>Cantidad empleados: {{ count }}</h3>
    <table border="1">
        <thead>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Trabajo</th>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.first_name }}</td>
                    <td>{{ empleado.last_name }}</td>
                    <td>{{ empleado.job }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>